/* タイトル */
.title {
    text-align: center;
    margin:20px;
    padding:10px;
    background-color: aliceblue;
}

/* header */
.header{
    background-color: aliceblue;
}

.header ul li{
    display: inline-block;
    padding: 10px;
}

/* ホーム */
.contents{
    text-align: center;
    border-right:1px solid #eef;
}

.contents .head-line {
    border:1px,solid,#eef
}

.main {
    border-left:1px solid #eef

}

.main .post{
    display: inline-block;

}

.paginate{
    text-align: center;
}

/* 返信エリア */
.reply{
    border: 1px solid #eef;
    text-align:center;
}

/* 記事詳細ページ */
.article {
    text-align: center;
}

/* プロフィール */
.profile{
    display: flex;
    justify-content: space-around;
}

.profile ul {
    list-style-type: none;
}

/* 管理画面 */
.user-list{
    text-align: center;
}



/* 投稿エリア */
.post-area{
    text-align: center;
}

.post-body input {
    display:block;
    text-align: center;
}

textarea {
    width:600px; 
    height:300px;
}